/*----------------------------------------------------------------------------------*/
:root{
    --color-0: #00000000;
    --color-1: #ebebf1;
    --color-2: #2e2e2e;
    --color-3: #575757;
    --color-4: #00000065;
    --color-5: #f7ca00;
}
.dark{
    background-color: var(--color-2);
}
/*----------------------------------------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-3);
    background-color: var(--color-1);
    display: flex;
}
body::-webkit-scrollbar{
    width: 8px;
    background-color: var(--color-0);
}
body::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: var(--color-3);
}
body::-webkit-scrollbar-thumb:hover{
    border-radius: 30px;
    background-color: var(--color-5);
}
/*----------------------------------------------------------------------------------*/
body button, main button{
    cursor: pointer;
    border: none;
    outline: none;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color-3);
}
body button:hover{
    background-color: var(--color-5);
}
/*----------------------------------------------------------------------------------*/
header{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-4);
}
header h1{
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-3);
}
header button{
    width: 4.2vw;
    height: 2vw;
    border-radius: 10px;
}
header #form_reloj{
    cursor: default;
    text-align: center;
    border: none;
    outline: none;
    background-color: var(--color-0);
}
header #form_reloj #reloj{
    cursor: default;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    font-weight: 900;
    color: var(--color-3);
    border: none;
    outline: none;
    background-color: var(--color-0);
}
/*----------------------------------------------------------------------------------*/
main{
    width: 100%;
    height: 100%;
    padding: 10%;
    padding-bottom: 2%;
    overflow-y: scroll;
}
main::-webkit-scrollbar{
    width: 8px;
    background-color: var(--color-0);
}
main::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: var(--color-3);
}
main::-webkit-scrollbar-thumb:hover{
    border-radius: 30px;
    background-color: var(--color-5);
}
/*----------------------------------------------------------------------------------*/

main .programas{
    width: 100%;
    padding: 2% 10%;
    margin: 10% 0;
    text-align: center;
}
/*----------------------------------------------------------------------------------*/
main #cronometro{
    height: 25%;
    font-size: 3vw;
    cursor: default;
}
main #cronometro span{
    font-size: 4vw;
    cursor: default;
}
#comenzar, #restablecer{
    width: 20%;
    padding: 2vw 0;
    border-radius: 30px;
}
#controlar{
    width: 10%;
    padding: 2vw 0;
    border-radius: 30px;
}
#cronometro #queIndica{
    width: 100%;
    height: 3%;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 4%;
}
/*----------------------------------------------------------------------------------*/
main #calculadora{
    height: 46%;
}
#calculadora form{
    padding: 0 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
#calculadora form #box{
    width: 50%;
    height: 40%;
    padding: 2%;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.5vw;
    color: var(--color-5);
    caret-color: var(--color-5);
    background-color: var(--color-3);
    margin-bottom: 2%;
}
#calculadora form #teclado{
    cursor: default;
}
#calculadora form #teclado input{
    cursor: pointer;
    width: 4vw;
    height: 4vw;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 1vw;
    color: var(--color-5);
    background-color: var(--color-3);
    transition: all.50s;
}
#calculadora form #teclado input:hover{
    color: var(--color-3);
    background-color: var(--color-5);
    transition: all.50s;
}

