/*-----------------------------------------------------------------------------------------------*/
:root{
    --color-1: #00000044;
    --color-2: #181818;
    --color-3: #444444;
    --color-4: #f1eaea;
    --color-5: #fcf3c1;
    --color-6: #ff0040;
    --color-7: #a30029;
}
/*-----------------------------------------------------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: 
    'uno dos tres'
    'cuatro cinco seis';
    background-color: var(--color-2);
    overflow: hidden;
}
/*-----------------------------------------------------------------------------------------------*/
button{
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    color: var(--color-4);
    opacity: 0.4;
    transition: all.70s;
}
button:hover{
    color: var(--color-6);
    opacity: 1;
    transition: all.70s;
}
section{
    text-align: center;
    font-size: 1.2vw;
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-3);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    transition: all.50s;
}
section:hover{
    color: var(--color-6);
    border-radius: 30px;
    box-shadow: 0 0 30px black;
    transition: all.50s;
}
section .contenedor{
    width: 100%;
    height: 100%;
}
/*-----------------------------------------------------------------------------------------------*/
#temporizador{
    grid-area: uno;
}
#temporizador .contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
#temporizador .contenedor .numeros, .botones{
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#temporizador .contenedor .numeros div{
    font-size: 5vw;
    background-color: var(--color-2);
}
#temporizador .contenedor .botones button{
    font-size: 1vw;
    border-radius: 30px;
    background-color: var(--color-3);
}
#temporizador .contenedor .botones #restablecer, #iniciar{
    width: 40%;
    height: 35%;
}
#temporizador .contenedor .botones #control{
    width: 10%;
    height: 40%;
    margin: 0 2%;
}
/*-----------------------------------------------------------------------------------------------*/
#cabeza{
    grid-area: dos;
    display: block;
}
#cabeza #opciones{
    width: 90%;
    height: 10%;
    margin: 5% 5% 0 5%;
    border-radius: 30px;
    background-color: var(--color-3);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#cabeza #opciones button{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
}
#cabeza h1{
    margin-top: 10%;
}
/*-----------------------------------------------------------------------------------------------*/
#cronometro{
    grid-area: tres;
}
#cronometro .contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
#cronometro .contenedor .numeros, .botones{
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#cronometro .contenedor .numeros div{
    font-size: 5vw;
    background-color: var(--color-2);
}
#cronometro .contenedor .botones button{
    font-size: 1vw;
    border-radius: 30px;
    background-color: var(--color-3);
}
#cronometro .contenedor .botones #iniciar, #restablecer{
    width: 40%;
    height: 35%;
}
#cronometro .contenedor .botones #control{
    width: 10%;
    height: 40%;
    margin: 0 2%;
}
/*-----------------------------------------------------------------------------------------------*/
#notas{
    grid-area: cuatro;
    padding: 0 5% 5% 5%;
}
#notas h3{
    width: 100%;
    height: 5%;
    margin-bottom: 5%;
}
#notas textarea{
    width: 100%;
    height: 80%;
    padding: 5%;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: var(--color-1);
    resize: none;
    color: var(--color-6);
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
}
#notas .botones{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
#notas button{
    width: 70%;
    height: 100%;
    border-radius: 30px;
    background-color: var(--color-3);
}
/*-----------------------------------------------------------------------------------------------*/
#calculadora{
    grid-area: cinco;
}
#calculadora h3{
    width: 100%;
    height: 5%;
}
#calculadora form{
    width: 100%;
    height: 95%;
}
#calculadora form #box{
    width: 80%;
    height: 25%;
    padding: 20px;
    margin-top: 20px;
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    outline: none;
    color: var(--color-6);
    border-radius: 30px;
    caret-color: var(--color-7);
    background-color: var(--color-1);
}

#calculadora form #teclado{
    width: 60%;
    height: 75%;
    margin: 0 20%;
}
#calculadora form #teclado input{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--color-7);
    background-color: var(--color-1);
    transition: all.70s;
}
#calculadora form #teclado input:hover{
    border: 1px solid var(--color-6);
    color: var(--color-6);
    transition: all.70s;
}
/*-----------------------------------------------------------------------------------------------*/
#reloj{
    grid-area: seis;
}
#reloj h3{
    width: 100%;
    height: 5%;
}
#reloj .contenedor{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#reloj .contenedor input{
    width: 80%;
    height: 40%;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 30px;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-6);
    background-color: var(--color-1);
    cursor: default;
}
/*-----------------------------------------------------------------------------------------------*/